button {
  &.scrollup {
    border: none;
    outline: none;
    position: fixed;
    height: 3.125rem;
    width: 3.125rem;
    background-color: $brown;
    color: $white-25;
    border-radius: 50%;
    bottom: 3.125rem;
    right: 1.25rem;
    font-weight: bold;
    line-height: 3.125rem;
    font-size: 1.875rem;
    cursor: pointer;
    transition-duration: 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &.fadeOut {
    display: none;
  }
  
  &.fadeIn {
    display: block;
  }
}


